@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --color-white: #f3f3f3;
    --color-dark: #263238;
    --color-red: #EF5350;
}

body {
    margin: 0;
    color: var(--color-white);
} 

.fa-chevron-left, .fa-chevron-right, .circle-cont {
  display: none;
}

.item-activo {
  background-color: var(--color-red);
}

.container {
    display: flex;
}

.container-card {
    width: 100%;
}

#navbar {
    background-color: var(--color-dark);
    position: relative;
    min-width: 290px;
    left: 0px;
    width: 300px;
    height: 100vh;
}

#navbar ul { 
    height: 893px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
  
  #navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
  
  #navbar a {
    display: block;
    padding: 10px 30px;
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
}

.box-card {
    display: flex;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-red);
}

header {
    background-color: var(--color-dark);
    height: 15vh;
    margin: 0px;
    text-align: center;
}

.search-cont {
    margin-bottom: 20px;
}

#input-buscar-pokemon {
    width: 56%;
    border: solid white 2px;
    height: 12px;
    padding-left: 18px;
    color: var(--color-white);
    background-color: var(--color-dark);
    background-clip: padding-box;
    /* font-family: inherit; */
    font-size: inherit;
}

h2 {
    text-align: center;
    font-size: 45px;
    margin: 0;
}

#front_default {
    width: 250px;
}

.logo {
    margin-top: 15px;
}

.card {
    background-color: var(--color-dark);
    font-family: 'Poppins', sans-serif;
    padding: 40px;
    border-radius: 5px;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button, input {
    background-color: var(--color-dark); 
    color: inherit;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    width: 90px;
    padding: 10px 0px 10px 0px;
}

#boton-buscar {
    background-color: var(--color-red);
}

i {
  display: none;
    color: var(--color-red);
    font-size: 35px;
}

.flex-cont {
    display: flex;
    align-items: center;
    justify-content: center;
} 

#segundo-circulo {
    font-size: 0.8rem;
    opacity: 0.4;
}

#primer-circulo {
    font-size: 0.8rem;
}

.circle-cont {
    text-align: center;
}

.nav-link:hover {
    background-color: var(--color-red);
}

.open-nav {
  display: none;
  font-size: 2rem;
}

.ocultar-boton {
  display: none;
}


#list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding: 0;
}

@media (max-width: 800px) {
  #navbar {
    display: none;
  }
  
  .open-nav {
    display: initial;
  }
}

@media (max-width: 500px) {
  .card {
    padding: 15px;
  }
}

@media (max-width: 360px) {
  h2 {
    font-size: 35px;
  }

  #navbar {
    display: block; 
  }
  
  #front_default {
    width: 200px;
  }
  
  .logo {
    width: 164px;
  }
  
  .card {
    width: 74vw;
  }
  
} 

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    /* text-align: center;
    white-space: nowrap;
    vertical-align: baseline; */
    border-radius: 0.25rem;
    margin-left: 5px;
}


.normal {
    background: #aca981;
  }
  .fighting {
    background: #bf3228;
  }
  .flying {
    background: #a792ee;
  }
  .poison {
    background: #a042a3;
  }
  .ground {
    background: #e2c06b;
  }
  .rock {
    background: #b6a038;
  }
  .bug {
    background: #aab922;
  }
  .ghost {
    background: #705a98;
  }
  .steel {
    background: #b7b8ce;
  }
  .fire {
    background: #e28145;
  }
  .water {
    background: #718bf1;
  }
  .grass {
    background: #79cb4f;
  }
  .electric {
    background: #f8d02e;
  }
  .psychic {
    background: #f55a86;
  }
  .ice {
    background: #9bd8d8;
  }
  .dragon {
    background: #6b3af8;
  }
  .dark {
    background: #705847;
  }
  .fairy {
    background: #ee9bae;
  }
  .unknown {
    background: #68a192;
  }
  .shadow {
    background: #747474;
  }